@font-face {
  font-family: Poppins-Regular;
  src: url("fonts/poppins/Poppins-Regular.ttf");
}

* {
  font-family: Poppins-Regular;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;

  list-style: none;
  text-decoration: none;

  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}

.non-highlight {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bold {
  font-weight: 800;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-nowrap {
  text-wrap: nowrap;
}